@charset "utf-8";
/* CSS Document */

body
{
	background-color: #000;
}

.holder {
	position: relative ;
	margin-top: 95px ;
	margin-left: 60px ;
	width: 1050px;
}

.links {
	position: absolute;
	text-shadow: 3px 3px #000000;
	width: 195px;
	height: 200px;
	font-size: 18px;
	font-family: 'Lato', sans-serif;
	color: #ffffff;
}

.copy h1 {
	-webkit-margin-before: 0em;
	font-size: 18px;
	color: #fff;
}

a:link {
 color:  #ffffff;
}

a:visited {
 color: #ffffff;
} 

a:active {
 color: #ffffff;
} 

a:hover {
 color: #ff9000;
}

.link1 {
	
}

.link2 {
	
}

.link3 {
	
}

.link4 {
	
}

.copy {
	position: absolute;
	top: 0px;
	width: 840px;
	left: 200px;
	text-shadow: 3px 3px #000000;
	font-size: 12px;
	font-family: 'Lato', sans-serif;
	color: #ffffff;
	text-align: left;
}

.about {

}

.explanation {

}

.tos {

}

.privacy {

}
