a:link, a:visited
{
	text-decoration: none;
	color: #535353;
}
a:hover, a:active
{
	text-decoration: none;
	color: #888;
}

.interactive_btn
{
	cursor: pointer;
}



img
{
	border: none;
}

.clear_both
{
	clear: both;
}

body
{
	background-color: black;
	text-align: center;
	margin: 0 0;
	padding: 0 0;
	/*font: 12px/16px 'Montserrat', sans-serif;*/
	font-family: 'Lato', sans-serif;
	font-size: 12px/16px;
	color: #434343;
}

#top_bar
{
	position: fixed;
	background: black url(../i/top_bar.png) repeat-x center top;
	text-align: center;
	margin: 0 0;
	padding: 0 0;
	z-index:1000;
	width: 100%;
	min-width: 960px;
	height: 57px;
}

#get_bar
{
	background: black url(../i/top_bar.png) repeat-x center top;
	text-align: center;
	margin: 0 0;
	padding: 0 0;
	z-index:1000;
	width: 100%;
	min-width: 960px;
	height: 57px;

}

ul#beeers, ul#aggbeeers
{
	padding-top: 75px;
}

#wall_of_beer_logo_s
{
	background: transparent url(../i/wall_of_beer_logo_s.png) no-repeat left top;
	
	position: relative;
	float: left;
	margin: 22px 0 0 30px;
	width: 118px;
	height: 24px;
}

#btn_back
	{
	display:none;
	background: transparent url(../i/BackButton.png) no-repeat left top;
	
	position: relative;
	float: left;
	margin: 13px 0 0 0px;
	width: 99px;
	height: 36px;
	margin-left: 30px;
	}

#wall_of_beer_about
	{
	position: relative;
	float: right;
	margin: 20px 0px 0 0px;
	width: 158px;
	height: 36px;
	}

#btn_recent
{
	background: transparent url(../i/btn_recent.png) no-repeat left top;
	
	position: relative;
	float: left;
	margin: 13px 0 0 30px;
	width: 100px;
	height: 36px;
}

#btn_rating
{
	background: transparent url(../i/btn_rating.png) no-repeat left top;
	
	position: relative;
	float: left;
	margin: 13px 0 0 0px;
	width: 99px;
	height: 36px;
}

#btn_popular
{
	background: transparent url(../i/btn_popular.png) no-repeat left top;
	
	position: relative;
	float: left;
	margin: 13px 0 0 0px;
	width: 101px;
	height: 36px;
}

#search_cont
{
	background: transparent url(../i/search_bg.png) no-repeat left top;
	
	position: relative;
	float: left;
	margin: 13px 0 0 30px;
	width: 235px;
	height: 36px;
}

#btn_get_app
{
	background: transparent url(../i/btn_get_app.png) no-repeat left top;
	
	position: relative;
	float: right;
	margin: 13px 30px 0 0px;
	width: 158px;
	height: 36px;
}

#search_input
{
	font: 14px 'Montserrat', sans-serif;
	background: none;
	border: none;
	height: 36px;
	width: 205px;
	margin-left: 15px;
	text-align: left;
	color: #535353;
	outline: none;
}
		
.rounded_corners, .legal_block
{
	behavior: url(css/border-radius.htc); /* IE */
	-moz-border-radius: 8px; /* Firefox */
	-webkit-border-radius: 8px; /* Safari, Chrome */
	border-radius: 8px; /* universal */
}

.rounded_corners_inner
{
	behavior: url(css/border-radius.htc); /* IE */
	-moz-border-radius: 6px; /* Firefox */
	-webkit-border-radius: 6px; /* Safari, Chrome */
	border-radius: 6px; /* universal */
}

.beeer_frame
{
	width: 225px;
	height: 292px;
	border: 2px solid #323232;
	float: left;
	margin: 11px 11px;
	cursor: pointer;
	display: none;
}	

.lable_cont
{
	background-color: rgba(0,0,0,.75);
	position: relative;
	margin-top: 185px;
	width: 100%;
	height: 76px;
	text-align: left;
	padding: 0 0;
}

.lable_cont.tall
{
	height: 101px;
}

.lable_cont.tall2
{
	height: 101px;
	margin-top: 160px;
}

.lable_cont.tall2 > h3
{
	top: -7px;
}

.lable_cont.tall2 > h4
{
	top:35px;
}

.lable_cont.tall > ul.star_rating,
.lable_cont.tall2 > ul.star_rating
{
	top: 71px;
}



.star_rating, #beeers, #aggbeeers
{
	list-style: none;
	margin: 0 0;
	padding: 0 0;
}

.star_rating li
{
	position: relative;
	float: left;
	margin: 3px 1px 0 0;
	width: 19px;
	height: 18px;
}

.rating_off
{
	background: transparent url(../i/star_unselected.png) no-repeat left top;
}
.rating_on
{
	background: transparent url(../i/star_selected.png) no-repeat left top;
}

.star_rating
{
	position: absolute;
	top: 46px;
	left: 12px;
}

#beeer_detail .rating_off
{
	background: transparent url(../i/star_unselected_large.png) no-repeat left top;
	
}
#beeer_detail .rating_on
{
	background: transparent url(../i/star_selected_large.png) no-repeat left top;
}
#beeer_detail .star_rating li
{
	position: relative;
	float: left;
	margin: 0 2px 0 0;
	width: 28px;
	height: 27px;
}

#beeer_detail .star_rating
{
	position: absolute;
	top: 5px;
	left: 16px;
}


h3
{
	position: absolute;
	top: -7px;
	left: 12px;
	display: block;
	font-size: 18px;
	font-weight: 400;
	color: #d1d1d1;
}

h4
{
	position: absolute;
	top: 10px;
	left: 12px;
	font-size: 15px;
	font-weight: 300;
	color: #6d6867;
}

.img_cont
{	width: 225px;
	height: 292px;
	position: absolute;
	overflow: hidden;
}
.img_cont img
{
	height: auto;
	width: 100%;
}

.fifty_per_opacity
{
  /* IE 8 */
 /* -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";*/

  /* IE 5-7 */
  /*filter: alpha(opacity=50);*/

  /* Netscape */
  /*-moz-opacity: 0.5;*/

  /* Safari 1.x */
  /*-khtml-opacity: 0.5;*/

  /* Good browsers */
  /*opacity: 0.5;*/
}

.drop-shadow, .legal_block{
     -webkit-box-shadow:0 4px 10px rgba(0, 0, 0, 0.73), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 4px 10px rgba(0, 0, 0, 0.73), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 4px 10px rgba(0, 0, 0, 0.73), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.curved:before {
    -webkit-box-shadow:0 0 15px rgba(0,0,0,0.6);
    -moz-box-shadow:0 0 15px rgba(0,0,0,0.6);
    box-shadow:0 0 15px rgba(0,0,0,0.6);
    -moz-border-radius:10px / 100px;
    border-radius:10px / 100px;
}
.curved-hz-1:before {
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}

#beeer_detail_mask
{
	position: fixed;
	z-index: 5;
	top:0px;
	width:100%;
	bottom:0px;
	background-color: rgba(0,0,0,0.8);
	display: none;
}

#beeer_detail
{
	width: 330px;
	position: absolute;
	top: 100px;
	left:50%;
	margin-left: -165px;
	background: #eeeee6 url(../i/texture_paper.jpg) repeat top left;
	font-size: 18px;
	letter-spacing: 1px;
	text-align: left;
	display: none;
	z-index: 10;
}

#beeer_detail_name,
#beeer_detail_brewery,
#beeer_detail_type,
#beeer_detail_stats,
#beeer_detail_rating,
#beeer_detail_serving,
#beeer_detail_wheel,
#beeer_detail_photo,
#beeer_detail_desc
{
	min-height: 70px;
	height: auto;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #959595;
	/*line-height: 70px;*/
	position: relative;
	padding-left: 20px;
	padding-top: 20px;
}

#beeer_detail_rating
{
	min-height: 40px;
	padding-top: 0px;
}

#beeer_detail_name.empty,
#beeer_detail_brewery.empty,
#beeer_detail_type.empty,
#beeer_detail_rating.empty,
#beeer_detail_stats.empty,
#beeer_detail_serving.empty,
#beeer_detail_wheel.empty,
#beeer_detail_photo.empty,
#beeer_detail_desc.empty
{
	min-height: 0px;
	border: none;
	height: 0px;
	display: none;
}

#beeer_detail_stats
{
	padding: 0 0 0 2px;
	position: relative;
	text-align: center;
}
#beeer_detail_stats div
{
	position: relative;
	float: left;
	height: 70px;
	max-width: 25%;
	min-width: 24%;
}
#beeer_detail_ibu, #beeer_detail_og
{
	border-left: 1px solid #959595;
	border-right: 1px solid #fff;
}

#beeer_detail_abv
{
	border-right: 1px solid #fff;
}

#beeer_detail_tg
{
	border-left: 1px solid #959595;
}

h5
{
	display: block;
	font-size: 20px;
	font-weight: 400;
	margin: 5px 0 0 0;
	padding: 0 0;
	line-height: 35px
}

h6
{
	font-size: 18px;
	font-weight: 300;
	/* color: #959595; */
	margin: 0 0;
	padding: 0 0;
	line-height: 20px
}

h7
{
	font-size: 16px;
	font-weight: 300;
	letter-spacing: .5px;
	/* color: #959595; */
	margin: 0 0;
	padding: 0 0;
	line-height: 19px;
}

#beeer_detail_serving
{
	padding: 0 0 0 2px;
	position: relative;
	text-align: center;
}

#beeer_detail_serving_bottle, #beeer_detail_serving_can, #beeer_detail_serving_draft, #beeer_detail_serving_growler, #beeer_detail_serving_cask
{
	
	position: relative;
	float: left;
	height: 70px;
	max-width: 19%;
	min-width: 20%;
	line-height: 30px;
}

.sq_radio
{
	position: relative;
	height: 18px;
	width: 17px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 12px;
}

.sq_radio_selected
{
	background: transparent url(../i/sq_radio_selected.png) no-repeat top left;
}

.sq_radio_unselected
{
	background: transparent url(../i/sq_radio_unselected.png) no-repeat top left;
}

h8
{
	color: #bfbfb9;
	font-weight: 300;
}

#beeer_detail_wheel
{
	height: 330px;
}

#beer_labels
{
	position: absolute;
	top: 10px;
	left: 5px;
	height: 321px;
	width: 321px;
	background: transparent url(../i/Beer_Wheel_Labels.png) no-repeat top left;
}
#beer_lattice
{
	position: absolute;
	top: 52px;
	left: 44px;
	height: 238px;
	width: 238px;
	background: transparent url(../i/Beer_Wheel_Lattice.png) no-repeat top left;
}
#beer_graph
{
	position: absolute;
	top: 52px;
	left: 44px;
	height: 238px;
	width: 238px;
}

#beeer_wheel_dots
{
	list-style: none;
	padding: 0 0;
	margin: 0 0;
	display: block;
	position: absolute;
	top: 52px;
	left: 44px;
	height: 238px;
	width: 238px;
}

#beeer_wheel_dots li
{
	position: absolute;
	background: transparent url(../i/Beer_Wheel_Dot.png) no-repeat top left;
	height: 7px;
	width: 7px;
	display: block;
}

#beeer_detail_photo
{
	height: 330px;
	margin: 0 0;
	padding: 0 0;
	overflow: hidden;
}
#beeer_detail_photo img
{
	height: 330px;
	width:auto;
	display:block;
	margin: 0 auto;
}

#beeer_detail_desc
{
	line-height: 20px;
	font-weight: 300;
	padding: 12px 12px;
}

#beeer_detail_close {
	background: transparent url(../i/btn_close.png) no-repeat top left;	
	position: absolute;
	width: 37px;
	height: 37px;
	right: -15px;
	top: -15px;
	z-index: 2;
	cursor: pointer;
}

.legal_block
{
	width: 640px;
	font-size: 11px;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	background: rgba(0,0,0,.4);
	line-height: 18px;
	color: #aaa;
	padding: 20px 30px;
}

.legal_block h1
{
	font-size: 18px;
	text-align: center;
	color: #fff;
}

li.aggregate
	{
	border-color: orange;
	}
	
#othercontent
	{
	display: none;
	}
	
#get_bar
	{
	display: none;
	}
	
#get_button
	{
	background: url(/Images/BackToWall.png);
	width: 158px;
	height: 36px;
	margin-left: 8px;
	cursor: pointer;
	position:relative;
	display: block;
	top: 12px;
	}
	
/* about page */


.content {
	position: relative ;
	margin-top: 200px ;
	margin-left: auto ;
	margin-right: auto ;
	width: 918px;
	height: 520px;
}

.logo {
		text-align: left;
}

.text {
	text-shadow: 3px 3px #000000;
	position: absolute;
	top: 90px;
	left: 10px;
	width: 345px;
	height: 240px;
	font-size: 18px;
	font-family: 'Lato', sans-serif;
	color: #ffffff;
	text-align: left;
}

.appStores {
	position: absolute;
	top: 380px;
	left: 10px;

}

.leftArrow {
	position: absolute;
	top: 235px;
	left: 465px;
	
}

.rightArrow {
	position: absolute;
	top: 235px;
	left: 855px;
	
}

.phoneBack {
	position: absolute;
	top: 0px;
	left: 570px;
	
}

.phoneImage {
	position: absolute;
	top: 75px;
	left: 33px;
}


/* end about page */	
	
/* mobile overrides */



body.mobile #top_bar 
	{
	display:none;
	}

body.mobile ul#beeers 
	{
	padding-top: 0px;
	}
	
body.mobile ul#beeers li.rounded_corners,
body.mobile ul#beeers li.rounded_corners div.rounded_corners_inner
	{
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	}
	
body.mobile ul#beeers li.rounded_corners div.lable_cont
	{
	display: none;
	}	
	
body.mobile ul#beeers li.rounded_corners div.img_cont
	{
	width: 272px;
	height: 272px;
	}
body.mobile ul#beeers li.rounded_corners
	{
	width: 272px;
	height: 272px;
	}	
	
body ul#beeers li.rounded_corners div.img_cont div.stars
	{
	display: none;
	}
	
body.mobile ul#beeers li.rounded_corners div.img_cont div.stars
	{
	display: block;
	height: 55px;
	width: 58px;
	color: black;
	position: absolute;
	left: 210px;
	top: 210px;
	font-size: 30px;
	background: url(/Images/PhoneStar.png) no-repeat;
	padding-top: 10px;
	}

body > p.clear_both
	{	
	display: none;
	}
	
/* about page */


.holder {
	position: relative ;
	padding-top: 95px ;
	margin-left: 60px ;
	width: 1050px;
	display: none;
}

.links {
	position: absolute;
	text-shadow: 3px 3px #000000;
	width: 195px;
	height: 200px;
	font-size: 18px;
	font-family: 'Lato', sans-serif;
	color: #ffffff;
}

.copy h1 {
	-webkit-margin-before: 0em;
	font-size: 18px;
	color: #fff;
}

a:link {
 color:  #ffffff;
}

a:visited {
 color: #ffffff;
} 

a:active {
 color: #ffffff;
} 

a:hover {
 color: #ff9000;
}

.link1 {
	
}

.link2 {
	
}

.link3 {
	
}

.link4 {
	
}

.copy {
	position: absolute;
	top: 0px;
	width: 840px;
	left: 200px;
	text-shadow: 3px 3px #000000;
	font-size: 12px;
	font-family: 'Lato', sans-serif;
	color: #ffffff;
	text-align: left;
}

.about {

}

.explanation {

}

.tos {

}

.privacy {

}

.ablink
	{
	cursor: pointer;
	}

.ab
	{
	display: none;
	}
	
.ab.about
	{
	display: block;
	}

/* end about page */
	
	
	
	
	
	
	
	
	
