@charset "utf-8";
/* CSS Document */

body
{
	background-image: url(Images/BG.jpg);
	background-repeat: no-repeat;
	background-position: top center;
	background-color: #000;
}

.content {
	position: relative ;
	margin-top: 200px ;
	margin-left: auto ;
	margin-right: auto ;
	width: 918px;
	height: 520px;
}

.logo {
		
}

.text {
	text-shadow: 3px 3px #000000;
	position: absolute;
	top: 90px;
	left: 10px;
	width: 345px;
	height: 240px;
	font-size: 18px;
	font-family: 'Lato', sans-serif;
	color: #ffffff;
}

.appStores {
	position: absolute;
	top: 380px;
	left: 10px;

}

.leftArrow {
	position: absolute;
	top: 235px;
	left: 465px;
	
}

.rightArrow {
	position: absolute;
	top: 235px;
	left: 855px;
	
}

.phoneBack {
	position: absolute;
	top: 0px;
	left: 570px;
	
}

.phoneImage {
	position: absolute;
	top: 75px;
	left: 33px;
}
